RewriteEngine On
## 3/11/21
## Manejo de errores de Apache. Cuando se produzca uno de estos errores, redirigimos a una pagina especial desarrollada por nosotros.
ErrorDocument 401 /paginaDeError.php?HTAERRORCODE=401
ErrorDocument 403 /paginaDeError.php?HTAERRORCODE=403
ErrorDocument 404 /paginaDeError.php?HTAERRORCODE=404
#Agregado el 19 del 10 del 2021
# Tiene que ser la URL del sitio :p
RewriteCond %{HTTP_HOST} !^(tecnomatico\.cl|syncnode\.tecnomatico\.cl) [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule (.*) https://tecnomatico.cl%{REQUEST_URI} [R=302,L]
# Https obligatorio exceptuand API
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/espsync/(.*)$ [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]
# para que no llore
RewriteRule ^sync/(.*)$ https://sync.tecnomatico.cl/ [R=301,NC,L]
RewriteRule ^sync$ https://sync.tecnomatico.cl/ [R=301,NC,L]
RewriteRule ^jardindelsur/(.*)$ https://tecnomatico.cl/viverodeplantas/ [R=301,NC,L]
RewriteRule ^jardindelsur$ https://tecnomatico.cl/viverodeplantas/ [R=301,NC,L]
RewriteRule ^support/(.*)$ https://tecnomatico.cl/#contacto [R=302,NC,L]

#Fin Agregado el 19 del 10 del 2021
#Pruebas don daniel? jjaja
RewriteRule ^algo/?$ /algo/más/
#AGREGADO POR DM 20 08 2021 PARA QUE NO SE MUESTRE EL CONTENIDO DE LOS DIRECTORIOS
Options +FollowSymLinks
Options All -Indexes
IndexIgnore *
LimitRequestBody 10240000
#AGREGADO POR DM 26 08 2021 PARA QUE NO SE PUEDA ACCEDER A ARCHIVOS .JSON, .LOG, ETC
<FilesMatch "\.(htaccess|ini|log|cfg|json)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

# php -- BEGIN cPanel-generated handler, do not edit
# Configure el paquete “ea-php73” como el lenguaje de programación predeterminado “PHP”.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php73 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
